.card {
    width: 150px;
    height: 225px;
    transform: scale(1.10);
}

/* Centering the "My Deck" header */
h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Adding padding(space in between words and the card */
#card-deck {
    padding-top: 10px;
}

.pokeName {
    padding-left: 10px;
    padding-top: 5px;
}

.pokeSetName {
    padding-left: 10px;
    padding-top: 5px;
}

.pokePrice {
    padding-left: 10px;
    padding-top: 5px;
}

.card-img {
    cursor: pointer;
}
