
body{
    background-color: #1D1E26;
    font-family: 'Manrope', sans-serif;
}

/* setting font color to white for now so I could see it against the black bg while I'm working lol. */
#main-text{
    color: white;
}

/* Centering the "My Deck" header */
#my-deck-pagetitle {
    text-align: center;
}

/* Adding padding/space in between words and the card */
/* #card-deck {
    padding-top: 50px;
} */

/* .pokeName { */
    /* padding-left: 70px;
    padding-top: 15px; */
    /* font-size: 140%; */
    
/* } */

/* .pokeSetName {
    padding-left: 70px;
    padding-top: 15px;
} */

/* .pokePrice {
    padding-left: 70px;
    padding-top: 15px;
} */

/* h5 {
    padding-left: 70px;
    padding-top: 15px;
} */

.pokeCard {
    cursor: pointer;
    border: none;
    transform: scale(0.9);
    border-radius: 12px;
    /* width: 200px; */
    /* height: 269px; */
}

.pokeCard:hover{
    transform: scale(1);
    box-shadow: 0 0 5px #fff, 0 0 18px rgb(0, 255, 170), 0 0 40px #0ff;
}

#setTitle:hover {
    /* font-size: 66%; */
    text-decoration: underline;
    cursor: pointer;
}

#clear-button {
    text-align: center;
}

.setTitle {
    cursor: pointer;
}

/* To make the words and not sit under the card - might use media query */
/* @media (max-width: 990px) {
    .pokeName {
        padding-left: 10px;
        padding-top: 5px;
        
    }
    
    .pokeSetName {
        padding-left: 10px;
        padding-top: 5px;
    }
    
    .pokePrice {
        padding-left: 10px;
        padding-top: 5px;
    }
    
    h5 {
        padding-left: 10px;
    }
  }

  @media (max-width: 770px) {
    .pokePrice {
        display: none;
    }
    
    h5 {
        display: none;s
    }
  } */

#mobileSearch {
    display: none;
}

@media screen and (max-width: 497px) {
    #desktopSearch{
        display: none;
    }
    #mobileSearch {
        display: flex;
    }
    
}