body{
    background-color: #1D1E26;
    color: whitesmoke;
}

nav{
    font-family: 'Manrope', sans-serif;
}

#error{
    letter-spacing: 1.3px;
    font-size: 24px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    cursor: default;
}