body{
    background-color: #1D1E26;
    font-family: 'Manrope', sans-serif;
}

.form-control{
    border: black;
}

/* title of page */
#sets-header{
    color: whitesmoke;
    text-align: center;
    cursor: default;
}

/* row container holding all h5s */
#all-sets{
    color: rgb(236, 236, 236);
    /* font-family: 'Russo One', sans-serif; */
}

#set-name {
    cursor: pointer;
    font-size: 23px;
}

#set-name:hover{
    color: rgb(228, 228, 155);
}