.card{
    width: 250px;
    height: 350px;
    cursor:pointer;
}

.m-n1{
    margin: 20px 20px 20px 20px;
}

#change {
    max-width:280px;
    height:400px;
    margin: 0
}

h1 {
    text-align: center;
    padding-top: 40px;
}