/* Changed the sizing of the logos in the header */
:root {
    --darkColor: #33393F;
}

header {
    background-color: var(--darkColor)
    /* background-image: url(https://i.imgur.com/XVQ3rTs.png); */
}

.body-area {
    /* background-color: var(--darkColor); */
    /* background-image: url(https://i.imgur.com/XVQ3rTs.png); */
}

html {
    /* background-color: var(--darkColor); */
    /* background-image: url(https://i.imgur.com/XVQ3rTs.png); */
}

body{
    background-image: url(https://i.imgur.com/4tNW92S.png);

}

.fab {
    font-size: 30px;
}

.fas {
    font-size: 30px;
}

/* Moved the search bar down */
.form-inline {
    padding-top: 10%;
}

body{
    font-family: 'Archivo', sans-serif;
}

.jumbotron {
    /* background-image: url(https://i.imgur.com/dzdZUhT.png); */
    background-color: var(--darkColor);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

}

.display-4 {
    font-weight: bold;
    color: black;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.lead {
    font-weight: bolder;
    color: black;
    font-size: 110%;
    padding-left: 3%;
    margin: 0px 0px 0px 0px;
}

/* .bg {
    background-image: url(https://i.imgur.com/EoIoLaq.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */