/* Changed the sizing of the logos in the header */
:root {
    /* --darkColor: #33393F; */
}

html{
    /* background-color: var(--darkColor); */
    /* background-image: url(https://i.imgur.com/XVQ3rTs.png); */
    height: 100%;
}

header {
    /* background-color: var(--darkColor) */
    /* background-image: url(https://i.imgur.com/XVQ3rTs.png); */
}

.body-area {
    /* background-color: var(--darkColor); */
    /* background-image: url(https://i.imgur.com/XVQ3rTs.png); */
}

body{
    height: 100%;
    background-image: url(https://i.pinimg.com/originals/72/51/23/72512323b7eb9405b94935b7d4fd9aeb.gif);
    /* https://i.ibb.co/WW3wTm6/field.jpg */
    /* https://i.ibb.co/qMKypnt/wp1902719.png */
    /* https://i.imgur.com/8jUy9XJ.jpg */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Manrope', sans-serif;
    background-color: #1D1E26;
}

/* have to set html and body to 100 then div container to 100 bc div container looks to parent. */
/* .bg{
    height: 100%;
} */

#search-container{
    padding-top: 15%;
}

#title{
    font-family: 'Orbitron', sans-serif;
    cursor: default;
}

#cards-smaller{
    font-family: 'Orbitron', sans-serif;
    font-size: 36px;
    font-weight: 400;
}

#title-description{
    font-size: 18px;
    cursor: default;
}

.fab {
    font-size: 21px;
}

/* .form-control::placeholder {
    color: white;
} */

/* .fas { */
    /* font-size: 30px; */
/* } */

/* Moved the search bar down */
/* .form-inline {
    padding-top: 10%;
} */

/* .lead {
    font-weight: bolder;
    color: black;
    font-size: 110%;
    padding-left: 3%;
    margin: 0px 0px 0px 0px;
} */

/* .bg {
    background-image: url(https://i.imgur.com/EoIoLaq.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */